
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/room-style.css">
    <title>ChatRoom Options</title>
</head>
<body>
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top color">
    <div class="container-fluid">
     <form action="/chatroom" method="get">
       <button style="border: none; background-color: transparent; font-size: 1.3rem; font-weight: 600;" type="submit">CHAT-VERSE</button>
     </form>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse ml-4" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item ">
         
            <form action="/chatroom" method="post">
              <input type="text" name="choice" value="et" style="display: none;">
              <button class="btn">ENTERTAINMENT</button>
            </form>
          </li>
          <li class="nav-item">
      
            <form action="/chatroom" method="post">
              <input type="text" name="choice" value="sports" style="display: none;">
              <button class="btn">SPORTS</button>
            </form>
          </li>
          <li class="nav-item">
           
            <form action="/chatroom" method="post">
              <input type="text" name="choice" value="politics" style="display: none;">
              <button class="btn">POLITICS</button>
            </form>
          </li>
        
        </ul>
        <form class="d-flex ml-auto" autocomplete="off" action="/chatroom/room/chat" method="post">
          <input class="form-control me-2" name="custom" style="margin-right: 5px;" type="search" placeholder="CUSTOM ROOM" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">ENTER</button>
        </form>
      </div>
    </div>
  </nav>
  <div  id="et" style="height: 50px;"></div>
  <div class="heading"><h1 >Entertainment</h1></div>
    
      <section class="cards-wrapper">
       
        <div class="card-grid-space">
          
          <a class="card1" href="http://localhost:8080/chatroom/room/chat/ANIME" style="--bg-img: url('/AllPhotos/anime.jpg'); text-decoration: none; color: white;">
            <div>
              <h1 >ANIME</h1>
              <div class="date">Active 游릭</div>
              <div class="tags">
                <div class="tag">Entertainment</div>
              </div>
            </div>
          </a>
  </div>

        


        <div class="card-grid-space">
        
          <a class="card1" href="http://localhost:8080/chatroom/room/chat/TV-SHOWS" style="--bg-img: url('/AllPhotos/tvshows.jpeg'); text-decoration: none; color: white;" >
            <div>
              <h1 >TV SHOWS</h1>
              <div class="date">Active 游릭</div>
              <div class="tags">
                <div class="tag">Entertainment</div>
              </div>
            </div>
          </a>
        </div>
        <div class="card-grid-space">
        
            <a class="card1" href="http://localhost:8080/chatroom/room/chat/GAMES" style="--bg-img: url('/AllPhotos/games.jpeg'); text-decoration: none; color: white;">
              <div>
                <h1>GAMES</h1>
                <div class="date">Active 游릭</div>
                <div class="tags">
                    <div class="tag">Entertainment</div>
                </div>
              </div>
            </a>
          </div>

          <a class="card1" href="http://localhost:8080/chatroom/room/chat/MOVIES" style="--bg-img: url('/AllPhotos/movies.jpeg'); text-decoration: none; color: white;">
            <div>
              <h1 >MOVIES</h1>
              <div class="date">Active 游릭</div>
              <div class="tags">
                <div class="tag">Entertainment</div>
              </div>
            </div>
          </a>
        </div>

        <div class="card-grid-space">

            <a class="card1" href="http://localhost:8080/chatroom/room/chat/MEMES" style="--bg-img: url('/AllPhotos/meme.png'); text-decoration: none; color: white;">
                <div>
                  <h1>MEMES</h1>
                  <div class="date">Active 游릭</div>
                  <div class="tags">
                    <div class="tag">Entertainment</div>
                  </div>
                </div>
              </a>
            </div>
  
            <div class="card-grid-space">

                <a class="card1" href="http://localhost:8080/chatroom/room/chat/MUSIC" style="--bg-img: url('/AllPhotos/music.jpeg'); text-decoration: none; color: white;">
                    <div>
                      <h1>MUSIC</h1>
                      <div class="date">Active 游릭</div>
                      <div class="tags">
                        <div class="tag">Entertainment</div>
                      </div>
                    </div>
                  </a>
                </div>
      
                <div class="card-grid-space">

                    <a class="card1" href="http://localhost:8080/chatroom/room/chat/TRAVELLERS" style="--bg-img: url('/AllPhotos/trips.jpeg'); text-decoration: none; color: white;">
                        <div>
                          <h1>TRAVELLERS</h1>
                          <div class="date">Active 游릭</div>
                          <div class="tags">
                            <div class="tag">Entertainment</div>
                          </div>
                        </div>
                      </a>
                    </div>
          
                    <div class="card-grid-space">

      </section>

      <br>
      <br>

      <hr width="55%"  >
      <div id="politics"  style="height: 50px;"></div>

      <div class="heading"><h1>Politics</h1></div>



      <section class="cards-wrapper">

        <div class="card-grid-space">
        
          <a class="card1" href="http://localhost:8080/chatroom/room/chat/MUN" style="--bg-img: url('/AllPhotos/mun.webp'); text-decoration: none; color: white;">
            <div>
              <h1 >MUN</h1>
              <div class="date">Active 游릭</div>
              <div class="tags">
                  <div class="tag">Politics</div>
              </div>
            </div>
          </a>
        </div>

        <div class="card-grid-space">
        
          <a class="card1" href="http://localhost:8080/chatroom/room/chat/INDIAN-POLITICS" style="--bg-img: url('/AllPhotos/indianpolitics.jpeg'); text-decoration: none; color: white;">
            <div>
              <h1>INDIAN POLITICS</h1>
              <div class="date">Active 游릭</div>
              <div class="tags">
                  <div class="tag">Politics</div>
              </div>
            </div>
          </a>
        </div>

        <div class="card-grid-space">
        
          <a class="card1" href="http://localhost:8080/chatroom/room/chat/DEBATE-ROOM" style="--bg-img: url('/AllPhotos/debate.jpeg'); text-decoration: none; color: white;">
            <div>
              <h1>THE DEBATE ROOM</h1>
              <div class="date">Active 游릭</div>
              <div class="tags">
                  <div class="tag">Politics</div>
              </div>
            </div>
          </a>
        </div>

        <div class="card-grid-space">
        
          <a class="card1" href="http://localhost:8080/chatroom/room/chat/UPCOMING-ELECTIONS" style="--bg-img: url('/AllPhotos/election.jpeg'); text-decoration: none; color: white;">
            <div>
              <h1>UPCOMING ELECTIONS</h1>
              <div class="date">Active 游릭</div>
              <div class="tags">
                  <div class="tag">Politics</div>
              </div>
            </div>
          </a>
        </div>

        <div class="card-grid-space">
        
          <a class="card1" href="http://localhost:8080/chatroom/room/chat/NEWS" style="--bg-img: url('/AllPhotos/news.jpeg'); text-decoration: none; color: white;">
            <div>
              <h1>NEWS</h1>
              <div class="date">Active 游릭</div>
              <div class="tags">
                  <div class="tag">Politics</div>
              </div>
            </div>
          </a>
        </div>
       

      </section>


      <br>
      <br>

      <hr width="55%" >
      <div style="height: 50px;"  id="sports"></div>

      <div class="heading"><h1>Sports</h1></div>


      <section class="cards-wrapper">

        <div class="card-grid-space">
        
          <a class="card1" href="http://localhost:8080/chatroom/room/chat/FOOTBALL" style="--bg-img: url('/AllPhotos/football.jpeg'); text-decoration: none; color: white;">
            <div>
              <h1>FOOTBALL</h1>
              <div class="date">Active 游릭</div>
              <div class="tags">
                  <div class="tag">Sports</div>
              </div>
            </div>
          </a>
        </div>

        <div class="card-grid-space">
        
          <a class="card1" href="http://localhost:8080/chatroom/room/chat/CRICKET" style="--bg-img: url('/AllPhotos/cricket.jpeg'); text-decoration: none; color: white;">
            <div>
              <h1>CRICKET</h1>
              <div class="date">Active 游릭</div>
              <div class="tags">
                  <div class="tag">Sports</div>
              </div>
            </div>
          </a>
        </div>

        <div class="card-grid-space">
        
          <a class="card1" href="http://localhost:8080/chatroom/room/chat/OLYMPICS" style="--bg-img: url('/AllPhotos/olympics.jpeg'); text-decoration: none; color: white;">
            <div>
              <h1>OLYMPICS</h1>
              <div class="date">Active 游릭</div>
              <div class="tags">
                  <div class="tag">Sports</div>
              </div>
            </div>
          </a>
        </div>

        <div class="card-grid-space">
        
          <a class="card1" href="http://localhost:8080/chatroom/room/chat/BASKETBALL" style="--bg-img: url('/AllPhotos/basket.jpeg'); text-decoration: none; color: white;">
            <div>
              <h1>BASKETBALL</h1>
              <div class="date">Active 游릭</div>
              <div class="tags">
                  <div class="tag">Sports</div>
              </div>
            </div>
          </a>
        </div>

        <div class="card-grid-space">
        
          <a class="card1" href="http://localhost:8080/chatroom/room/chat/E-SPORTS" style="--bg-img: url('/AllPhotos/esports.jpeg'); text-decoration: none; color: white;">
            <div>
              <h1>E-SPORTS</h1>
              <div class="date">Active 游릭</div>
              <div class="tags">
                  <div class="tag">Sports</div>
              </div>
            </div>
          </a>
        </div>

        <div class="card-grid-space">
        
          <a class="card1" href="http://localhost:8080/chatroom/roomt\/chat/KABADDI" style="--bg-img: url('/AllPhotos/kabaddi.jpeg'); text-decoration: none; color: white;">
            <div>
              <h1>KABADDI</h1>
              <div class="date">Active 游릭</div>
              <div class="tags">
                  <div class="tag">Sports</div>
              </div>
            </div>
          </a>
        </div>

      </section>

      <div class="main">
  
        <a href="#politics" class="bn5">Politics</a>
        <a href="#et" class="bn5">Entertainment</a>
       <a href="#sports" class="bn5">Sports</a>
        
      </div>




      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>